@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <p>Vamos começar? <a asp-action="Index" asp-controller="Book">Ver livros</a>.</p>
    <p>Nao possui uma conta? <a asp-area="Identity" asp-page="/Account/Register">JUNTE-SE A NÓS</a>.</p>
</div>