@model Library.App.ViewModels.AuthorViewModel

@{
    ViewData["Title"] = "Editar - " + @Model.Name;
}

<h3 style="padding-top: 50px">@ViewData["Title"] </h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypePerson" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TypePerson" checked /> Pessoa Física<br />
                <input type="radio" value="2" asp-for="TypePerson" /> Pessoa Jurídica
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="About" class="form-control" ></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a class="btn btn-info" asp-controller="Author" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<hr />
<partial name="../Book/_Books" model="@Model.Books" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
